# Npm
node_modules
npm-debug.log
dist/

# Java
target/

# terraform
*.tfvars
*.tfstate.backup
.lambdas
.terraform

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store
*/Thumbs.db
*Thumbs.db
*Untitled-*

# Ping local build output
auth-ping/build/working*

credentials-*.zip

# Temp files
temp/*
